p {
	margin : 0;
}

.item {
	height: 92px;
	margin: 8px 6px;
	border-radius: 5px;
	box-shadow: 1px 3px rgb(208, 208, 208);
	position: relative;
	.item-left {
		position: absolute;
		top: 10px;
		left: 10px;
		width: 72px;
		height: 72px;
		img {
			width: 100%;
			height: 100%;
		}			
	}
	
	.item-right{
		position: absolute;
		top: 10px;
		left: 96px;		
		right: 10px;	
		p {		
			word-wrap:break-word;
		}
		.title {
			font-size: 18px;
			font-weight: bold;
		}

	}

}
