.b-news-item {
	height: 92px;
	margin: 8px 6px;
	border: 1px solid #d0d0d0;
	border-radius: 3px;
	box-shadow: 1px 1px rgb(208, 208, 208);
	position: relative;
	background-color: #FFFFFF;
	&__left {
		position: absolute;
		top: 10px;
		left: 10px;
		width: 72px;
		height: 72px;		
	}

	&__img {
		width: 100%;
		height: 100%;
	}
	
	&__right{
		position: absolute;
		top: 10px;
		left: 96px;		
		word-wrap:break-word;
	}

	&__title {
		font-size: 18px;
		font-weight: bold;
	}

}
